body {
    font-family:chess;
    margin: 0;
    background-color:   #ff4800;
}

.square {
    background: #ff4800;
    display:inline-block;
    border: 1px solid #747474;
    text-align:center;
    position: absolute;
    cursor: pointer;
}